autobahn==0.5.14
py==1.4.26
pytest==2.6.1
python-geoip==1.2
python-geoip-geolite2==2014.207
Twisted==19.7.0
-e git+https://github.com/mahmoud/wapiti.git@5dc462b1e0d2290c1841980c94309efe4c27b75a#egg=wapiti-master
zope.interface==4.1.2
